.jumbotron{
    background-image: url("https://t3.ftcdn.net/jpg/03/32/33/52/360_F_332335247_4yu6xRlUcReUateHofRn5BJRvUN7DfX7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}